header{
   color: rgb(10, 9, 8);
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
   width: min-content;
   margin-left: auto;
   margin-right: auto;
   margin-top: 150px;
   background-color: white;
   padding: 12px;
}
body{
    background-image: url(img/hotelsi.webp);
    background-repeat: no-repeat;
    background-size: cover;

}
.class1{
  background-color: white; 
  width: 300px;
  height: 100px;
  margin: auto;
  border-radius:3cm;
  text-align:  ;

}
.tex {
  top: 5cm;
  text-align: center;
}
.class{
    background-color: white; 
    width: 1000px;
    height: 400px;
    
    margin: auto;
    border-radius: 3cm;


}

.titulo{
    font-size: 25px;
    font-family: Calibri;
    width: 200px;
    font-family: 'Bungee Inline', cursive;
}
.button {
  display: inline-block;
  border-radius: 1cm;
  background-color: #bba199;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 25px;
  padding: 2%;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  margin:auto;
}
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .form2{
    top: 20px;
    width: 50%;
    margin-left: 587px;
    margin-top: -60px;
  }
  .form1{
    top: 20px;
    width: 50%;
    margin-left: 200px;
    position: relative;
    
  }